@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
 .custom-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.card {
  margin: 10px;
   padding: 5px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 18px;
   text-align: center;
}
.passenger {
   /* background-color: #4CAF50; */
   background-color: #f5f3f3;
   color:#4CAF50;
}

.buscard {
   background-color: #f5f3f3;
   color: #2196F3;
}

.cities {
   background-color:  #f5f3f3;
   color: #e78c04;
}

.route {
   background-color:  #f5f3f3;
   color: #9C27B0;
}
.aroute {
   background-color:  #f5f3f3;
   color:#756e2cd0;
}
.schedule {
   background-color:  #f5f3f3;
   color: #E91E63;
}

.booking {
   background-color:  #f5f3f3;
   color: #FF5722;
}

.ticket {
   background-color:  #f5f3f3;
  color: #607D8B;
}

.icon {
   font-size: 36px;
   margin-bottom: 10px;
}
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    /* color: #da483e; */
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  .center {
   margin-top: 30px;
   margin-left: 200px;
   width: 70%;
   padding: 30px;
   text-align: center;
}
h1 span .order {
   color: "#fb4b57";
}

.message {
   font-size: 30px;
   font-weight: 300;
}

.contents {
   font-size: 23px;
   font-weight: bold;
   text-align: center;
   opacity: 0.6;
   transition: opacity 0.3s;
}

.contents p {
   margin-bottom: 3px;
   transition: opacity 0.3s ease-in-out;
}

.contents:hover {
   opacity: 0.8;
   color: black;
}

.model-body:hover {
   opacity: 0.8;
   color: black;
}

.closebtn {
   margin-left: 700px;
   font-size: 25px;
   font-weight: bold;
}

#flash-message {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   min-width: 300px;
}
  